.tableEmployee {
  background-color: grey;
  padding: 8px 16px;
  width: 100%;
  height: 200%;
  display: flex;
  flex-direction: column;
  min-height: 800px;
}

.tablediv {
  min-height: 400px;

}

.mainHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
}